/* From Uiverse.io by aryamitra06 */ 
#loader2.loader {
  display: flex;
  align-items: center;
}

#loader2 .bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: var(--white-50);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

#loader2 .bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

#loader2 .bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: var(--white);
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
